body, html {
  scroll-behavior: smooth;
  padding: 0;
  margin:0;
}
 
.header {
  width:100%;
  height: 90px;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgb(35, 35, 36);
}
.home_button {
  border: 1px solid rgb(14, 15, 15);
  width: 27px;
  height: 27px;
  background-color: blanchedalmond;
  float: right;
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  z-index: 3;
  margin-left: 1300px;
  margin-top:420px;
}
.home_img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: blanchedalmond;
}

.logo {

  width:300px;
  margin-left:60px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.logo_img {
  width:60px;
  height: 50px;
  margin: -5px;
  margin-right:10px; 
}
.logo_a:hover {
  font-size: 45px;
}
.logo_a {
  color: white;
  text-decoration: none;
}
h1 {
  
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}


.header2 {

  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 30, 31);
}
.contactus {
  font-size: 22px;
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  font-family: cursive;
  color: white;
  text-decoration: none;
}
.contact_us {
  
  text-decoration: none;
  color: white;
}
.categories {

  font-size: 22px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  font-family: cursive;
  color: white;
  text-decoration: none;
}
.categories_a {
  
  text-decoration: none;
  color: white;
  
}
.about {

  font-size: 22px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  font-family: cursive;
  color: white;
  text-decoration: none;
}
.about_a{
 
  text-decoration: none;
  color: white;
}
.regist {
  
  font-size: 22px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  font-family: cursive;
  color: white;
  text-decoration: none;
}
.regist_a {
  
  text-decoration: none;
  color: white;
}
.sign {
  
  font-size: 22px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  font-family: cursive;
  color: white;
  text-decoration: none;
}
.sign_a {
  
  text-decoration: none;
  color: white;
}
.categories_a:hover {
  font-size: 30px;
  
}
.contact_us:hover {
  font-size: 30px;
}
.about_a:hover {
  font-size: 30px;
  
}
.regist_a:hover {
  font-size: 30px;
  
}
.sign_a:hover {
  font-size: 30px;
  
}







  .section2{
    display: flex;
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    align-items: center;

  }
  .inp{
    width: 500px;
    height: 30px;
    padding: 8px 32px;
    font-size: 30px;
    margin-left: 150px;
    border-radius: 30px;

    outline: none;

  }

.dropbtn {
  margin-left: 100px;
background-color: #48abb4;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
color: white;
padding: 16px 30px;
width: 160px;
height: 50px;

border-radius: 10px;

border: none;
cursor: pointer;
}

.dropdown {
/* position: relative; */
display:table-column;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
margin-left: 70px;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: rgb(47, 178, 218);
}

/* SECTION */
.goods{
  height: 960px;

}
h2 {
  display: flex;
  /* justify-content: center; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 45px;
  color: rgb(6, 6, 56);
}
.books {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.column_1{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.column_2 {
  display: flex;
  justify-content: space-around;
}
.column_3{
  display: flex;
  justify-content: space-around;
}
.column_4{
  display: flex;
  justify-content: space-around;
}
.book {

  width: 250px;
  height: 350px;
  border-radius: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.book1 {
  width: 230;
  height: 330;
  border-radius: 9px;
  box-shadow: 2px 2px 10px;
  background-color: rgb(75, 71, 71);
}
.book1:hover {
  width: 240px;
  height: 360px;
  border: 3px solid rgb(53, 144, 160)
}
.book_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  height: 175px;
}
.img2{
  width:100px;
  height: 100px;
}
.book_name {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.book_price {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top:-15px;
}
.button_buy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.more {
  background-color: rgb(28, 28, 88);
  border-radius: 6px;
  font-family: 'Courier New', Courier, monospace;
  padding: 7px;
  font-weight: bold;
  margin: 2px;
}
.buy {
  font-weight: bold;
  border-radius: 6px;
  margin: 2px;
  font-family: 'Courier New', Courier, monospace;
  padding: 7px;
  background-color: chocolate;

}


















































.footer_2 {
    margin-top: 1100px;
    height: 150px;
    background-color: rgb(49, 45, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_logo {
    text-align: center;

    margin-left: 70px;
  }
  .accounts {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }
  .insta {

    width: 140px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    float: right;
  }
  .insta_img{
    width: 20px;
    background-color: black;
    border:1px solid black;
    border-radius: 5px;
  }
  .insta_img_div {
    width: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    height: 30;
    background-color: white;
  }
  .whatsapp {

    width: 160px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    float: right;
  }
  .whatsapp_img_div {
    width: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    height: 30;
    background-color: white;
  }
  .whatsapp_img {
    width: 20px;
  }
  .vkontakte {

    width: 140px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    float: right;
  }
  .vkontakte_


.img_div {
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    height: 30;
    background-color: white;
  }
  .vkontakte_img {
    width: 20px;
  }
